<body>
	<div ui-view>
	    <div class="text-center container col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6 content">
	        <form class="form-signin frmclient" ng-submit="doLogin(user)">
	        	<label class="lblarearestrita">ÁREA RESTRITA</label>
	            <label class="col-md-12 col-xs-12 input-text text-email" for="inputEmail">E-mail</label>
	            <input type="email" class="text-box form-control" ng-model="user.email" placeholder="Digite seu E-mail">
	            <label class="input-text" for="inputPassword">Senha</label>
	            <input type="password" class="text-box form-control" ng-model="user.password" placeholder="Digite sua senha">
	            <div class="checkbox">
	                <label class="text-checkbox">
	                    <input type="checkbox" ng-model="user.keepLogged">Me manter conectado
	                </label>
	            </div>
	            <button type="submit" class="button btn btn-danger btn-block">ENTRAR</button>
	        </form>
	    </div>
	</div>
</body>
