<div ui-view>
	<div id="main" class="text-center col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">
		<label class="col-md-12 col-xs-12 lblStatus">STATUS</label>
		<!-- Rounded switch -->
		<label class="switch">
		  <input type="checkbox">
		  <div class="col-md-12 col-xs-12 slider round"></div>
		</label>
		<label class="col-md-12 col-xs-12 lblSwitch">FAZER CHECK-IN</label>
		<a href="#main">
	        <button style="text-decoration:none" onclick="alert('Posição atualizada com sucesso.')" class="btn btn-danger col-md-offset-4 col-md-4 col-xs-8 col-xs-offset-2">
	            <img src="img/power.png"/>
	        </button>
	    </a>
	</div>
</div>