<div id="wrapper">
    <!-- Parte Lateral -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <span>CONTA</span>

                <a>Editar Dados</a>
            </li>
            <li>
                <a>Sair</a>
            </li>
        </ul>
    </div>
<!-- Parte do Menu -->
     <div id="menu" class="col-md-12 col-xs-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-xs-2 text-center">
                	<a style="text-decoration:none" class="fa fa-bars fa-lg" id="menu-toggle" href="#menu-toggle"></a>
                </div>
                <div id="logo" class="text-center col-md-11 col-xs-10">
                        <img  src="img/new_logo_pequena.png"/>
                </div>
            </div>
        </div>
    </div>
</div>