<div id="wrapper" ng-init="checkUserSession()">
    <!-- Parte Lateral -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
        <p class="menu-header">Olá, <label ng-bind="name"></label></p>

            <hr />

            <li>
                <span>CONTA</span>

                <a ng-hide="isAnon">Editar Dados</a>
            </li>
            <li>
                <a ng-click="logoff()">Sair</a>
            </li>
        </ul>
    </div>
    <!-- Parte do Menu -->
     <div id="menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-xs-2 text-center">
                    <a style="text-decoration:none" class="fa fa-bars fa-lg" ng-click="toggleMenu()"></a>
                </div>
            </div>
        </div>
    </div>
</div>