<div ui-view>
    <div id="login" class="text-center container col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6 content">
        <form class="form-signin" ng-submit="doLogin(user)">
            <label class="input-text text-email">E-mail</label>
            <input type="email" class="text-box form-control" ng-model="user.email" placeholder="Digite seu E-mail">
            <label class="input-text">Senha</label>
            <input type="password" class="text-box form-control" ng-model="user.password" placeholder="Digite sua senha">
            <button type="submit" class="button btn btn-danger btn-block">ENTRAR</button>
        </form>
        <a type="button" ng-click="openWindow('userRegister')" class="button btn btn-primary btn-block">CADASTRE-SE</a>    
        <a type="button" ng-click="doLogin('anon', user.simulation)" class="button btn btn-warning btn-block">ENTRAR SEM LOGIN</a>
        <p>Versão Demo 1.0</p>
    </div>
</div>