<head>
    <title>FOUNDTRUCK</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    
    <!-- JavaScript Files -->
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-ui-router.min.js"></script>
    <script src="js/libs/jquery-2.1.1.min.js"></script>
    <script src="js/libs/bootstrap.js"></script>
    <script src="js/libs/side-menu.js"></script>
    <!-- Modules -->
    <script src="js/foundtruck.js"></script>
    <!-- Services -->
    <script src="js/services/UserLoginService.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/UserLoginController.js"></script>
    <script src="js/controllers/FindLocationController.js"></script>
    <script src="js/controllers/CheckPositionController.js"></script>
    <!-- Directives -->
    <script src="js/directives/NavMenuDirective.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBl_5g_j-pTrsvkwGh0yD7zW39xkw_-cBg"></script>
    <script>
    var map;

// The JSON data
var json = [{"id":48,"title":"Helgelandskysten","longitude":"12.63376","latitude":"66.02219"},{"id":46,"title":"Tysfjord","longitude":"16.50279","latitude":"68.03515"},{"id":44,"title":"Sledehunds-ekspedisjon","longitude":"7.53744","latitude":"60.08929"},{"id":43,"title":"Amundsens sydpolferd","longitude":"11.38411","latitude":"62.57481"},{"id":39,"title":"Vikingtokt","longitude":"6.96781","latitude":"60.96335"},{"id":6,"title":"Tungtvann- sabotasjen","longitude":"8.49139","latitude":"59.87111"}];



function initialize() {
  
  // Giving the map som options
  var mapOptions = {
    zoom: 4,
    center: new google.maps.LatLng(66.02219,12.63376)
  };
  
  // Creating the map
  map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);
  
  
  // Looping through all the entries from the JSON data
  for(var i = 0; i < json.length; i++) {
    
    // Current object
    var obj = json[i];

    // Adding a new marker for the object
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(obj.latitude,obj.longitude),
      map: map,
      title: obj.title // this works, giving the marker a title with the correct title
    });
    
    // Adding a new info window for the object
    var clicker = addClicker(marker, obj.title);


  } // end loop
  
  
  // Adding a new click event listener for the object
  function addClicker(marker, content) {
    google.maps.event.addListener(marker, 'click', function() {
      
      if (infowindow) {infowindow.close();}
      infowindow = new google.maps.InfoWindow({content: content});
      infowindow.open(map, marker);
      
    });
  }
}

// Initialize the map
google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
     <div id="googleMap" class="col-md-12 col-xs-12" style="height:70%;"></div>

    </div>
</body>