<head>
    <title>FOUNDTRUCK</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    
    <!-- JavaScript Files -->
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-ui-router.min.js"></script>
    <script src="js/libs/jquery-2.1.1.min.js"></script>
    <script src="js/libs/bootstrap.js"></script>
    <script src="js/libs/side-menu.js"></script>
    <!-- Modules -->
    <script src="js/foundtruck.js"></script>
    <!-- Services -->
    <script src="js/services/UserLoginService.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/UserLoginController.js"></script>
    <script src="js/controllers/FindLocationController.js"></script>
    <script src="js/controllers/CheckPositionController.js"></script>
    <!-- Directives -->
    <script src="js/directives/NavMenuDirective.js"></script>
        <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div id="findlocationalternative" class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <form class="text-center">
            <label class="find2lbl col-md-12 col-xs-12">DADOS ENDEREÇO</label>
            <input type="text" class="find2txt form-control" placeholder="ESTADO"/>
            <input type="text" class="find2txt form-control" placeholder="CIDADE"/>
            <input type="text" class="find2txt form-control" placeholder="DIGITE SEU ENDEREÇO"/>
            <input type="text" class="find2txt form-control" placeholder="N° CASA/APARTAMENTO"/>
            <a href="#findlocation"><button class="find2btn btn btn-danger col-md-1"><</button></a>
            <button class="find2btn btn btn-danger col-md-10 col-md-offset-1">BUSCAR FOODTRUCKS</button>
         </form>
    </div>
</body>